@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans+Condensed:ital,wght@1,300&family=Playfair+Display:wght@400;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  height: auto;
  box-sizing: border-box;
  color: #eeeeee;
}
body {
  background-color: #082032;
  background-image: url(./Assets/bgdesign.png);
  background-size: cover;
  background-attachment: fixed;
}

/* Classes for Logo Image and Group Image */ 
.wieIMG {margin-left: 7rem; padding-right: 2rem;}
.logo_img { margin-right: 1rem; margin-top:0rem; height: 4rem; width: 6rem;}

/* NAVBAR */
.navbar {
  padding: 0.5rem 10rem !important;
  background-color: rgba(8, 32, 50, 0.85);
}
@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0 !important;
  }
}
.navbar-nav {
  margin-left: auto;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 300;
}
#title {
  letter-spacing: 0.1rem;
  min-height: 100%;
}
.nav-link,
.dropdown-item {
  font-weight: 200;
}
.nav-link:hover {
  color: #0f044c;
}
.dropdown-menu {
  background-color: rgba(8, 32, 50, 0.85);
  border: none;
  border-radius: 0;
}
.dropdown-item {
  color: #eeeeee;
}
.dropdown-menu .dropdown-item:hover{
  background-color: #787a91;
  color: #eeeeee;
}
.afterClicked {
  background-color: #0f044c;
  color: #eeeeee;
}
.bg {
  background-color: #082032;
  background-image: url(./Assets/bgdesign.png);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

/* Intro */

#intro {
  height: auto;
  width: auto;
  padding-top: 7%;
  padding-bottom: 0%;
}

svg text {
  letter-spacing: 62.5%;
  stroke: #FDD2BF;
  font-size: 310%;
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 5s infinite alternate;
}
@media screen and (max-width: 510px){
svg text{
  font-size: 190%;
  letter-spacing: 50%;
  stroke-width: 2;
 }
 #intro{
   padding-top: 22%;
 width: auto;
  
 }
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(189, 68%, 75%)

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
  
}.des{
  color: #ffff;
  font-size: 20px;
  text-align: center;
}
.fa{
  padding-right: 1%;
}
.main {
  padding: 3% 5%;
  text-align: center;
}

.par {
  color: #787a91;
}

.quote {
  margin: 3% 12%;
  background-color: #0f044c;
  border-radius: 15px;
  color: wheat;
  font-family: "Allison", cursive;
  text-align: center;
}

/* ABOUT */
@media screen and (max-width: 768px) {
  .about-text {
    margin-top: 1rem;
  }
}
.about-text {
  background-color: rgba(8, 32, 50, 0.6);
  border-radius: 0.5rem;
  transition: ease-out 0.3s;
  padding: 2.5rem 0.5rem;
}
.about-text:hover {
  background-color: rgba(255, 107, 107, 0.6);
}
.heading {
  font-weight: 400;
}
strong {
  font-weight: 600;
}
.about-text {
  line-height: 2rem;
  color: #eeeeee;
}

/* FOOTER */
footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 32, 50, 0.8);
  border-top: 0.25rem solid rgba(255, 76, 41, 0.6);
}
footer h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  font-weight: 300;
  font-size: 1rem;
}
.row {
  padding: 1.5rem 1rem;
  width: 100%;
}
.fab {
  color: #eeeeee;
}
.usefulLinks,
.Icons,
.contactDetails {
  margin-top: 2rem;
}
.usefulLinks a {
  color: #eeeeee;
  text-decoration: none;
  line-height: 3rem;
}
.Icons a {
  display: inline-block;
  margin: 1em;
  font-size: 1.5rem;
}
.footCol {
  text-align: center;
}
.Col li {
  text-align: left;
}
.contactDetails li{
  display: table;
  line-height: 2;
  margin-bottom: 1rem;
}
span i{
  width: 2rem;
  margin: 1rem;
  text-align: center;
}
.details{
  display: table-cell;
}
.contactDetails a{
  color: #eeeeee;
  text-decoration: none;
}
.copyright{
  text-align: center;
  margin: 0;
  padding: 1rem;
  color: #787A91
}
footer a:hover,footer i:hover{
  color: rgba(255, 107, 107, 0.6);
}


.main_product .carousel-control{
  background-color: #fff;
  color:#333;
  border-radius: 50%;
  width:50px;
  height: 50px;
  line-height: 50px;
  font-size:1rem;
  text-align: center;
  top:30%;
}
.main_product .carousel-control:hover{
  background-color: #00a885;
  color:#fff;
}
.main_product .carousel-control.left{
  left:-1.4%;
  box-shadow: -1px 0px 0px 0px;
}
.main_product .carousel-control.right {
  
  right:-1.4%;
  box-shadow: 1px 0px 0px 0px;
}


.main_product .port_img{
  position: relative;
  overflow: hidden;
}

.main_product .port_img img{
  width:100%;
}
.main_product .port_overlay{
  width:100%;
  height: 100%;
  background-color: rgba(0,168,133,0.60);
  position: absolute;
  left:0;
  top:0;
  padding-top: 25%;
  opacity: 0;
  transition: all 0.2s;
}
.main_product .port_overlay a{
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  text-align: centre;
  display: inline-block;
  font-size:15px;
  color:#000;
  font-weight: bold;
}
.main_product .port_img:hover .port_overlay a{
  bottom:0;
}
.main_product .port_img:hover .port_overlay{
  opacity: 1;
}
.port_caption h6{
  font-weight: bold;
}



/*Test Section
======================*/
.main_test{
  width: 100%;
  display: block;
}
.test_item{
  padding: 40px;
  transition: all 0.6s;
  border:1px solid transparent;
}
.test_item:hover{
  border:1px solid #ddd;
  background-color: #fff;
}
.test_item:hover .item_img i{
  color:#fff;
  background-color: #00a885;
}

.main_test .item_img{
  float: left;
  display: inline-block;
  width:20%;
  margin-right: 10%;
}
.main_test .item_text{
  display: inline-block;
  width:70%;
}
.item_img{
  position: relative;
}
.item_img i{
  background-color: #fff;
  position: absolute;
  right: -25%;
  top: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ddd;
  border-radius: 50%;
  box-shadow: 1px 0px 0px 0px #ddd;
}

/*Brand Section
=========================*/
.brand{
  background-color: #C0E7E8;
}
.main_brand h1{
  font-weight: bold;
}
.brand_item img{

 height: 250px;
 width: 250px;
 margin-bottom: 10px;
 
}
.brand_item h4{
  font-weight: bold;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
td{
 
padding: 30px;

}
table{
  width: 100%;
}


/* Clear floats after image containers */
/*.brand_item .row::after {
content: "";
clear: both;
display: table;
}

.brand_item .row {
display: flex;
}*/

/*Footer section*/
.divider{
  width:100%;
  height: 1px;
  background-color: #434769;
  display: inline-block;
}
.widget_ab_item_text h6{
  margin-bottom:5px;
}
.widget_item h5{
  font-weight: 700;
}
.widget_item .btn:hover{
  background-color: #0ec9a2;
}
.widget_item li a{
  color:#aaa;
}
.widget_item li a:hover{
  color:#fff;
}

.widget_latst_item_text p{
  margin-bottom: 0px;
  color:#aaaaaa;
}
.widget_service li i,
.widget_latst_item_text a{
  font-size:12px;
  color:#aaaaaa;
}
.widget_service li i{
  margin-right: 5px;
}
.widget_service li{
  font-size:13px;
  border-bottom: 1px dashed #aaa;
  padding-bottom: 10px;
}
.widget_newsletter li a:hover i,
.widget_latst_item_text:hover p,
.widget_service li:hover,
.widget_service li:hover i{
  color:#fff;
}

.widget_ab_item .item_icon,
.widget_latst_item .item_icon{
  float: left;
  width: 20%;
  display: inline-block;
  margin-right: 15px;
}
.widget_ab_item .widget_ab_item_text,
.widget_latst_item .widget_latst_item_text {
  display: inline-block;
  width: 70%;
}
.widget_ab_item .item_icon{
  float: left;
  width: 10%;
  display: inline-block;
  margin-right: 15px;
}
.widget_ab_item .widget_ab_item_text {
  display: inline-block;
  width: 80%;
}
.widget_newsletter .form-inline .form-group{
  display: block;
}
.widget_newsletter .form-control{
  width:80%;
  height: 40px;
  background-color: #1a1a1a;
  border-color:#333333;
  display: inline-block;
}
.widget_newsletter .btn{
  width: 20%;
  padding: 0.65rem 1.2rem;
  background-color: #00a885;
  border-color:#00a885;
  color:#fff;
  border-radius: 0;
  margin-left:-4px;
  display: inline-block;
}
.widget_brand a{
  font-size:30px;
  font-weight: 800;
  color:#aaa;
}
.widget_newsletter li a i{
  color:#aaa;
}


.main_footer i {
  padding: 0px 5px;
  color: #ff0000;
}

.main_footer a {
  color: #ddd;
  padding: 5px;
}
.port_img img{
  height: 250px;
  width: 290px;
}
