@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans+Condensed:ital,wght@1,300&family=Playfair+Display:wght@400;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  height: auto;
  box-sizing: border-box;
  color: #eeeeee;
}
body {
  background-color: #082032;
  background-image: url(./Assets/bgdesign.png);
  background-size: cover;
  background-attachment: fixed;
}
/* NAVBAR */
.navbar {
  padding: 0.5rem 12rem !important;
  background-color: rgba(8, 32, 50, 0.85);
}
@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0 !important;
  }
}
.navbar-nav {
  margin-left: auto;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 300;
}
#title {
  letter-spacing: 0.1rem;
  min-height: 100%;
}
.nav-link,
.dropdown-item {
  font-weight: 200;
}
.nav-link:hover {
  color: #0f044c;
}
.dropdown-menu {
  background-color: rgba(8, 32, 50, 0.85);
  border: none;
  border-radius: 0;
}
.dropdown-item {
  color: #eeeeee;
}
.dropdown-menu .dropdown-item:hover{
  background-color: #787a91;
  color: #eeeeee;
}
.afterClicked {
  background-color: #0f044c;
  color: #eeeeee;
}
.bg {
  background-color: #082032;
  background-image: url(./Assets/bgdesign.png);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

/* Intro */

#intro {
  height: auto;
  width: auto;
  padding-top: 14%;
  padding-bottom: 12.5%;
}

svg text {
  letter-spacing: 62.5%;
  stroke: #FDD2BF;
  font-size: 310%;
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 5s infinite alternate;
}
@media screen and (max-width: 510px){
svg text{
  font-size: 190%;
  letter-spacing: 50%;
  stroke-width: 2;
 }
 #intro{
   padding-top: 22%;
 width: auto;
  
 }
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(189, 68%, 75%)

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
  
}.des{
  color: #ffff;
  font-size: 20px;
  text-align: center;
}
.fa{
  padding-right: 1%;
}
.main {
  padding: 3% 5%;
  text-align: center;
}

.par {
  color: #787a91;
}

.quote {
  margin: 3% 12%;
  background-color: #0f044c;
  border-radius: 15px;
  color: wheat;
  font-family: "Allison", cursive;
  text-align: center;
}

/* ABOUT */
@media screen and (max-width: 768px) {
  .about-text {
    margin-top: 1rem;
  }
}
.about-text {
  background-color: rgba(8, 32, 50, 0.6);
  border-radius: 0.5rem;
  transition: ease-out 0.3s;
  padding: 2.5rem 0.5rem;
}
.about-text:hover {
  background-color: rgba(255, 107, 107, 0.6);
}
.heading {
  font-weight: 400;
}
strong {
  font-weight: 600;
}
.about-text {
  line-height: 2rem;
  color: #eeeeee;
}

/* FOOTER */
footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 32, 50, 0.8);
  border-top: 0.25rem solid rgba(255, 76, 41, 0.6);
}
footer h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  font-weight: 300;
  font-size: 1rem;
}
.row {
  padding: 1.5rem 1rem;
  width: 100%;
}
.fab {
  color: #eeeeee;
}
.usefulLinks,
.Icons,
.contactDetails {
  margin-top: 2rem;
}
.usefulLinks a {
  color: #eeeeee;
  text-decoration: none;
  line-height: 3rem;
}
.Icons a {
  display: inline-block;
  margin: 1em;
  font-size: 1.5rem;
}
.footCol {
  text-align: center;
}
.Col li {
  text-align: left;
}
.contactDetails li{
  display: table;
  line-height: 2;
  margin-bottom: 1rem;
}
span i{
  width: 2rem;
  margin: 1rem;
  text-align: center;
}
.details{
  display: table-cell;
}
.contactDetails a{
  color: #eeeeee;
  text-decoration: none;
}
.copyright{
  text-align: center;
  margin: 0;
  padding: 1rem;
  color: #787A91
}
footer a:hover,footer i:hover{
  color: rgba(255, 107, 107, 0.6);
}