body {
  background-color: #082032;
  background-attachment: fixed;
  background-image: url("../Assets/bgwaves.png");
}
.event_title li:hover{
  background: #334756;
}
.fa-calendar-alt{
  margin-right: 0.5rem;
}
.event_title a:hover{
  color:white;
}
@media screen and (min-width: 1024px) {
  a {
    color: white;
    text-decoration: none !important;
  }
  img {
    width: 18.75em;
    height: 18.75em;
  }
  .event_title {
    text-align: center;
    list-style-type: none;
    margin: 5rem auto;
    height: 2rem;
  }
  .event_title li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 3vw;
    padding: 0.2rem 3rem;
    border-radius:20px;
  }
  .event_list {
    display: inline-block;
    text-align: center;
  }
  .event_list li {
    margin-right: 3em;
  }
  .flip-card {
    width: 28vw;
    height: 64vh;
    perspective: 62.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 18.75em;
    width: 18.75em;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    font-family: "Nunito", sans-serif;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-back h1 {
    font-size: 2rem;
  }
  .flip-card-back p {
    font-size: 1rem;
  }
  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: rgba(255, 76, 41, 0.5);
    color: white;
    transform: rotateY(180deg);
    padding: 3rem 1rem;
  }
}
@media screen and (max-width: 1024px) {
  a {
    color: white;
    text-decoration: none !important;
  }
  ul{
    padding-left: 0rem;
  }
  .event_title {
    text-align: center;
    list-style-type: none;
    margin-top: 5rem;
    height: 2rem;
  }
  .event_title a:hover {
    color: white;
  }
  img {
    width: 100%;
    height: 53vh;
  }
  .event_title li {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 1vw 1vh;
    text-decoration: none;
    font-size: 2.5vw;
    border-radius:15%;
  }
   .event_title li button:hover{
      color:white;
    }
    .event_titlee li button a:hover{
      color:white;
    }
  .event_list li {
    display: block;
    text-align: center;
    margin: 2rem 1rem;
  }
  .flip-card {
    background-color: transparent;
    width: auto;
    height: 53vh;
    perspective: 1000px;
    display: block; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    font-family: "Nunito", sans-serif;
    display: block;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    background-color: rgba(255, 76, 41, 0.5);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    width: 100%;
    padding: 4rem 1rem;
  }
}
